.a_1{
	display: inline-block;
	margin-top: 5%;
}
.fieldset_1{
	width: 12%;
	display: table-cell;
	vertical-align: top;
	margin-right: 2%;
}
.PopUp{
	cursor: pointer;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: cornflowerblue;
}
.PopUp:hover{
	font-weight:bold ;
}